/* universal selector */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: silver;
  font-size: 62.5%;
  font-family: Arial, Helvetica, sans-serif;
}
.main-container{
  max-width: 1440px;
  margin: 30px auto;
  width: 75vw;
  z-index: 1;
}
.top-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  font-size: 3rem;
  margin-bottom: 3px;
}
.show-popup {
  border: none;
  background: #fff;
  color: orangered;
  font-size: 2rem;
  cursor: pointer;
}
.para {
  font-size: 1.5rem;
  width: 60%;
  margin: 10px 40%;
}

/* popup */

.popup, .final-popup{
  border: 2px solid orangered;
  width: 300px;
  height: 120px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: fixed;
  margin: 0px 40%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  z-index: 5;
}

.popup-btn{
  display: flex;
  justify-content: space-between;
  width: 60%;
  justify-content: space-evenly;
}
.popup-btn button{
  background-color: orangered;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
  width: 40%;
  cursor: pointer;
}
.cards {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}
.card{
  width: 200px;
  height: 300px;
  border: 2px solid silver;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  font-size: 1rem;
  margin: 30px 50px;
}
.card h2{
  color: orangered;
  margin-bottom: 10px;
}
.card hr{
  margin-bottom: 10px;
}
.card ul{
  height: 200px
}
.card li{
  display: flex;
  justify-content: space-evenly;
}
.card li i{
  color: orangered;
  cursor: pointer;
}
.card-btn{
  width: 90%;
  display: flex;
  justify-content: space-between;
  color: orangered
}
.card-btn i{
  cursor: pointer;
}
